<?xml version="1.0"?>
<config>
    <modules>
        <Xxx_Catalog>
            <version>0.1.3</version>
        </Xxx_Catalog>
    </modules>
    <global>
        <blocks>
            <catalog>
                <rewrite>
                    <product_list>Xxx_Catalog_Block_Product_List</product_list>
                    <product_list_toolbar>Xxx_Catalog_Block_Product_List_Toolbarfake</product_list_toolbar>
                </rewrite>
            </catalog>
            <xxx_catalog>
                <class>Xxx_Catalog_Block</class>
            </xxx_catalog>
        </blocks>
        <models>
            <xxx_catalog>
                <class>Xxx_Catalog_Model</class>
                <resourceModel>xxx_catalog_mysql4</resourceModel>
            </xxx_catalog>
            <xxx_catalog_mysql4>
                <class>Xxx_Catalog_Model_Mysql4</class>
                <entities>
                    <pricelist>
                        <table>xxx_catalog_pricelist</table>
                    </pricelist>
                    <upload>
                        <table>xxx_catalog_upload</table>
                    </upload>
                </entities>
            </xxx_catalog_mysql4>
        </models>
        <resources>
            <xxx_catalog_setup>
                <setup>
                    <module>Xxx_Catalog</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </xxx_catalog_setup>
            <xxx_catalog_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </xxx_catalog_write>
            <xxx_catalog_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </xxx_catalog_read>
        </resources>
        <helpers>
            <xxx_catalog>
                <class>Xxx_Catalog_Helper</class>
            </xxx_catalog>
        </helpers>
        <events>
            <sales_quote_add_item>
                <observers>
                    <sales_quote_add_item_handler>
                        <type>model</type>
                        <class>xxx_catalog/observer</class>
                        <method>mtmProductModifyAddToCart</method>
                    </sales_quote_add_item_handler>
                </observers>
            </sales_quote_add_item>
            <checkout_cart_update_item_complete>
                <observers>
                    <checkout_cart_update_item_complete_handler>
                        <type>model</type>
                        <class>xxx_catalog/observer</class>
                        <method>mtmProductModifyUpdateItem</method>
                    </checkout_cart_update_item_complete_handler>
                </observers>
            </checkout_cart_update_item_complete>
            <controller_action_layout_load_before>
                <observers>
                    <setCurrentCategory>
                        <type>model</type>
                        <class>xxx_catalog/observer</class>
                        <method>setCurrentCategory</method>
                    </setCurrentCategory>
                </observers>
            </controller_action_layout_load_before>
            <customer_customer_authenticated>
                <observers>
                    <attachUploadedFilesToCustomerStep1>
                        <type>model</type>
                        <class>xxx_catalog/upload_observer</class>
                        <method>attachUploadedFilesToCustomerStep1</method>
                    </attachUploadedFilesToCustomerStep1>
                </observers>
            </customer_customer_authenticated>
            <customer_login>
                <observers>
                    <attachUploadedFilesToCustomerStep1>
                        <type>model</type>
                        <class>xxx_catalog/upload_observer</class>
                        <method>attachUploadedFilesToCustomerStep2</method>
                    </attachUploadedFilesToCustomerStep1>
                </observers>
            </customer_login>
        </events>
        <cache>
            <types>
                <xxx_cache_product module="xxx_catalog" translate="label description">
                    <label>Xxx product blocks cache</label>
                    <description>Additional caching for product blocks.</description>
                    <tags>XXX_CACHE_PRODUCT</tags>
                </xxx_cache_product>
                <xxx_cache_category module="xxx_catalog" translate="label description">
                    <label>Xxx category blocks cache</label>
                    <description>Additional caching for category blocks.</description>
                    <tags>XXX_CACHE_CATEGORY</tags>
                </xxx_cache_category>
                <xxx_cache_pricelist module="xxx_catalog" translate="label description">
                    <label>Xxx pricelist cache</label>
                    <description>Caching for pricelist.</description>
                    <tags>XXX_CACHE_PRICELIST</tags>
                </xxx_cache_pricelist>
            </types>
        </cache>
    </global>
    <frontend>
        <routers>
            <catalog>
                <args>
                    <modules>
                        <xxx_catalog before="Mage_Catalog">Xxx_Catalog</xxx_catalog>
                    </modules>
                </args>
            </catalog>
        </routers>
        <routers>
            <xxx_catalog>
                <use>standard</use>
                <args>
                    <module>Xxx_Catalog</module>
                    <frontName>xxx_catalog</frontName>
                </args>
            </xxx_catalog>
        </routers>
    </frontend>
</config>