<?xml version="1.0"?>
<config>
    <modules>
        <Xxx_Catalog>
            <version>0.1.0</version>
        </Xxx_Catalog>
    </modules>
    <global>
        <blocks>
            <xxx_catalog>
                <class>Xxx_Catalog_Block</class>
            </xxx_catalog>
        </blocks>
        <models>
            <xxx_catalog>
                <class>Xxx_Catalog_Model</class>
                <resourceModel>xxx_catalog_mysql4</resourceModel>
            </xxx_catalog>
            <xxx_catalog_mysql4>
                <class>Xxx_Catalog_Model_Mysql4</class>
                <entities>
                    <pricelist>
                        <table>xxx_catalog_pricelist</table>
                    </pricelist>
                </entities>
            </xxx_catalog_mysql4>
        </models>
        <resources>
            <xxx_catalog_setup>
                <setup>
                    <module>Xxx_Catalog</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </xxx_catalog_setup>
            <xxx_catalog_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </xxx_catalog_write>
            <xxx_catalog_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </xxx_catalog_read>
        </resources>
        <helpers>
            <xxx_catalog>
                <class>Xxx_Catalog_Helper</class>
            </xxx_catalog>
        </helpers>
        <events>
            <sales_quote_add_item>
                <observers>
                    <sales_quote_add_item_handler>
                        <type>model</type>
                        <class>xxx_catalog/observer</class>
                        <method>mtmProductModifyAddToCart</method>
                    </sales_quote_add_item_handler>
                </observers>
            </sales_quote_add_item>
            <checkout_cart_update_item_complete>
                <observers>
                    <checkout_cart_update_item_complete_handler>
                        <type>model</type>
                        <class>xxx_catalog/observer</class>
                        <method>mtmProductModifyUpdateItem</method>
                    </checkout_cart_update_item_complete_handler>
                </observers>
            </checkout_cart_update_item_complete>
        </events>
    </global>
    <frontend>
        <routers>
            <catalog>
                <args>
                    <modules>
                        <xxx_catalog before="Mage_Catalog">Xxx_Catalog</xxx_catalog>
                    </modules>
                </args>
            </catalog>
        </routers>
        <routers>
            <xxx_catalog>
                <use>standard</use>
                <args>
                    <module>Xxx_Catalog</module>
                    <frontName>xxx_catalog</frontName>
                </args>
            </xxx_catalog>
        </routers>
    </frontend>
</config>